<!DOCTYPE html>
<html lang="fr">
{% include 'header.html' %}

<body>
    <div class="container">
        {% include 'menu.html' %}
        <div class="row mt-5">
          <div class="col-3"></div>
        <form class="col-6 " action="email.sh" id="contact" style="display: inline-block;">
            <div class="form-row my-3">
                    <input class="form-control" type="text" placeholder="Nom" id="name" style="background-color:rgba(255,255,255,0.5);"/>
            </div>
            <div class="form-row my-3">
                    <input class="form-control" type="email" placeholder="Email" id="from" style="background-color:rgba(255,255,255,0.5);"/>
            </div>
            <div class="form-row my-3">
                <input class="form-control" type="text" placeholder="Sujet" id="subject" style="background-color:rgba(255,255,255,0.5);"/>
            </div>
            <div class="form-row my-3">
                <textarea class="form-control" id="message" placeholder="Message" rows="8" style="background-color:rgba(255,255,255,0.5);"></textarea>
            </div>
            <input type="submit" class="btn-primary my-3" value="Envoyer" />
        </form>
          <div class="col-3"></div>
        </div>
        {% include 'footer.html' %}
    </div>
</body>

</html>
