<!DOCTYPE html>
<html lang="fr">
{% include 'header.html' %}

<body>
    <div class="container">
        {% include 'menu.html' %}
        <div class="row mt-5">
          <div class="col-3"></div>
        <form class="col-6" action="/contact.html" id="contact" style="display: inline-block;" method="post">
            <div class="form-row my-3"> {{ form.name }} </div>
            <div class="form-row my-3"> {{ form.email }} </div>
            <div class="form-row my-3"> {{ form.subject }} </div>
            <div class="form-row my-3"> {{ form.message }} </div>
            <div class="row">
              <div class="col-5"></div>
              {{ form.submit }}
              <div class="col-5"></div>
            </div>
        </form>
          <div class="col-3"></div>
        </div>
        {% include 'footer.html' %}
    </div>
</body>

</html>
