<footer>
    <div class="row fixed-bottom text-center" style="background-color: rgba(250, 250, 250, 0.5);">
        <div class="col">
            <a class="address"
                href="https://www.openstreetmap.org/?mlat=36.45113&mlon=10.73621#map=18/36.45113/10.73621"
                target="_blank">City Centre Jarra, Av Habib Bourguiba 6ème étage 8000 </a>
        </div>
        <p class="col">T&eacute;l: 00 000 000</p>
        <a class="col" href="#">email</a>
    </div>
</footer>
</div>
<script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
</body>

</html>
