<!DOCTYPE html>
<html lang="fr">
{% include 'header.html' %}

<body>
    <div class="container">
{% include 'menu.html' %}
    <div class="row justify-content-center" style="margin-top: 80px">
      <form style="opacity:0.5" action="" method="post">
        <div class="form-row my-3"> {{ form.name }} </div>
        <div class="form-row my-3"> {{ form.submit }} </div>
      </form>
    </div>
    <table id="member_files_table" class="table table-hover table-striped" data-toggle="table" data-pagination="true"
           data-search="true" data-pagination-parts="['pageSize', 'pageList']">
      <tbody>
{% for file in files %}
        <tr style="position:relative" onclick="transitionToPage('file/{{ file.name }}')">
          <td scope="row"> {{ file.name }} </td>
          <td> {{ file.state }}</td>
        </tr>
{% endfor %}
      </tbody>
    </table>
{% include 'footer.html' %}
    </div>
  <div id="contextMenu" class="dropdown clearfix" style="position: absolute; display: none;">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
      <li><a tabindex="-1" href="#" class='dropdown-item'>Ouvrir</a></li>
      <li><a tabindex="-1" href="#" class="dropdown-item">Supprimer</a></li>
    </ul>
  </div>
  <script>
    $(function() {

      var $contextMenu = $("#contextMenu");

      $("body").on("contextmenu", "table tr", function(e) {
        $contextMenu.css({
          display: "block",
          left: e.pageX,
          top: e.pageY
        });
        return false;
      });
      $('html').click(function() { $contextMenu.hide(); });

      $("#contextMenu li a").click(function(e){
        var f = $(this);
      });
      $('#member_files_table').bootstrapTable({
        formatNoMatches: function () {
          return 'Aucun dossier en base';
        }
      });
    });
  </script>
</body>

</html>

